.scroll-container {
  position: relative;
  height: 80vh;
  overflow: auto;
}

.scroll-y {
  display: block;
}

.ball {
  animation: bounce .2s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}
